APP_URL=https://clearlicence.co.uk
PORT=3000
VITE_SUPABASE_URL=https://bgnsxbbqrxpsgxvexjsz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_PMe69JZEpn2X_Zgy6ZKqtg_i_D2MAvT
SUPABASE_SERVICE_ROLE_KEY=sb_secret_B4g-yYBvZmHrYnOW0f-WIA_ttSxhVll
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_[your key]
STRIPE_SECRET_KEY=sk_test_[your key]
STRIPE_WEBHOOK_SECRET=whsec_placeholder
VITE_STRIPE_PRICE_BASIC=price_1TNj5RDb7CYzRjW63rMfroyM
VITE_STRIPE_PRICE_PRO=price_1TNj63Db7CYzRjW6mL7NLg3I
VITE_STRIPE_PRICE_PRO_PLUS=price_1TNj6iDb7CYzRjW6xdiGs4Or
ZOHO_EMAIL=your-zoho-email
ZOHO_APP_PASSWORD=your-zoho-app-password
ALERT_EMAIL_1=concierge@expatnannies.co.za
ALERT_EMAIL_2=chimbz.fm@gmail.com
VITE_API_URL=http://localhost:3000
